<section id="About" class="block block--skewed-right about">
    <div class="container grid grid--1x2">
        <img class="hero__image" src="images/displayPicture.png" alt="">
        <div class="block__header">
            <h2 class="block__heading">About Me</h2>
            <p class="about__content">I'm a dedicated Front-End Developer on a journey of continuous learning, defying age barriers with every line of code.</p>
            <p class="about__content">My current tech stack includes HTML5, CSS3, CSS Art, Bootstrap, JavaScript(ES6+) and React.</p>
            <p class="about__content"> Beyond coding, I'm equally passionate about content writing and teaching. I channel my creativity into crafting engaging and informative content, and I find joy in sharing my knowledge with others. When I'm not immersed in the world of technology, you can find me cherishing quality moments with my beloved family."</p>
            <a href="/" class="btn btn--light">My Resume</a>
            <div>

            </div>

</section>
