<div class="container">
    <div class=" callout callout--primary">
        <div class="grid grid--1x2">
            <div class="callout__content">
                <h2 class="callout__heading">Contact</h2>
                <h3> Need Frontend Development?</h3>
                <p> Your amazing frontend is just a mail away. Ping me to schedule a chat!</p>
            </div>
            <a target="_blank" href="mailto:shaemazaki@gmail.com" class="btn btn--light btn--stretched">Email
                Me</a>
        </div>
    </div>
</div>