<section>
    <footer class="block block--grey grid footer">
        <div class="container  footer__sections">
            <div class=" block__header footer__section">
                <h3 class="footer__heading">Follow Me Around</h3>

            </div>
            <span class="footer__section">
                <a href="https://twitter.com/shaema88" target="_blank">
                    <svg class="icon icon--white">
                        <use xlink:href="../images/sprite.svg#twitter"></use>
                    </svg>
                </a>
            </span>



            <span class="footer__section">
                <a href="https://github.com/Shaema88" target="_blank">
                    <svg class="icon icon--white">
                        <use xlink:href="../images/sprite.svg#github"></use>
                    </svg>
                </a>
            </span>



            <span class="footer__section">
                <a href="https://www.linkedin.com/in/shaemasaher1988/" target="_blank">
                    <svg class="icon icon--white">
                        <use xlink:href="../images/sprite.svg#linkedin"></use>
                    </svg>
                </a>
            </span>


            <span class="footer__section">
                <a href="https://medium.com/@shaema88" target="_blank">
                    <svg class="icon icon--white">
                        <use xlink:href="../images/sprite.svg#medium"></use>
                    </svg>
                </a>
            </span>
            <h6 class="footer__copyright">© 2021 Shaema Saher - All rights reserved</h6>

        </div>

</section>

</footer>