<header>
    <nav class="nav nav-fixed">
        <a class="nav__brand" href="index.html"><img src="images/logoNav.svg" alt=""></a>
        <div class="collapsible">
            <svg class="icon icon--white nav__toggler">
                <use xlink:href="images/sprite.svg#menu"></use>
            </svg>
            <ul class="list nav__list collapsible__content">
                <li class="nav__item"><a href="#About">About Me</a></li>
                <li class="nav__item"><a href="#Projects">Projects</a></li>
                <li class="nav__item"><a href="#Testimonials">Testimonial</a></li>
                <li class="nav__item"><a href="https://medium.com/@shaema88">Blog</a></li>
                <li class="nav__item"><a href="#Contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>