<section id="Projects" class="block block--skewed-left project">
    <div class="block__header">
        <h2 class="block__heading project">Projects</h2>
        <div class="container grid grid--1x2">

            <img class="project__image" width="95%" src="/images/MoshifiedProject.png" alt="">
            <div class="project__content">
                <p> The Cloud Hosting Website.</p>
                <p> I meticulously crafted this website, adhering to best practices, with a focus on component slicing to ensure optimal performance and user experience
                </p>
                <a href="/Moshify/index.html" class="btn btn--stretched project__btn">See Live</a>

            </div>

        </div>
        <div class="block__header">
            <h2 class="block__heading project">Projects</h2>
            <div class="container grid grid--1x2">
    
                <img class="project__image" width="95%" src="/images/MoshifiedProject.png" alt="">
                <div class="project__content">
                    <p> Little Lemon Restaurant.</p>
                    <p> I meticulously crafted this website using React, adhering to best practices, with a focus on component slicing to ensure optimal performance and user experience
                    </p>
                    <a href="/LittleLemon/build" class="btn btn--stretched project__btn">See Live</a>
    
                </div>
    
            </div>

</section>
