<section id="Testimonials" class="block block--dark block--skewed-left testimonial">
    <div class="block__header">
        <h2 class="block__heading">Testimonials</h2>
        <h3 class="testimonial__tagline">What My Clients are Saying</h3>
        <div class="container grid grid--1x2">
            <img src=" images/testimonial1.png" width="95%" alt="">

            <div class="testimonial__content">
                <p>Collaborated with Kay Agelidis on Numerous Web Projects as a Freelance Content Writer.</p>
                <p> I contributed a substantial body of work, comprising SEO-optimized articles and blog posts centered around the seafood industry, to her various websites.
                </p>
            </div>
            <div>

            </div>

</section>
